.frame-item {
  height: 477px;
  width: 1240px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.rectangle-group,
.right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 100%;
}
.right {
  margin: 0;
  height: 155px;
  width: 543px;
  position: relative;
  font-size: inherit;
  font-style: italic;
  font-weight: 900;
  font-family: inherit;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-group {
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-2xl) var(--padding-mid)
    var(--padding-xl);
  box-sizing: border-box;
  min-height: 477px;
  text-align: center;
  font-size: var(--font-size-109xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-inner,
.next1 {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.frame-inner {
  height: 128px;
  border-radius: var(--br-66xl);
  background-color: var(--color-black);
  cursor: pointer;
}
.next1 {
  height: 110px;
  display: flex;
  font-weight: 900;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  margin-left: -334px;
}
.rectangle-container {
  width: 334px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-div {
  width: 403px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 58.5px);
  left: -113px;
  background-color: var(--color-firebrick-100);
  height: 117px;
  cursor: pointer;
}
.final1 {
  height: 83px;
  flex: 1;
  position: relative;
  display: inline-block;
  font-weight: 900;
  max-width: 100%;
  z-index: 1;
}
.frame-div,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-div {
  align-self: stretch;
  flex-direction: row;
  position: relative;
}
.frame-wrapper {
  width: 361px;
  flex-direction: column;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
}
.frame-parent {
  width: 1229px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 103%;
  flex-shrink: 0;
}
.root-frame,
.root-frame-inner {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.root-frame-inner {
  width: 1208px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-gainsboro);
  font-family: var(--font-inter);
}
.root-frame {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-6xl);
  gap: 290px;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .next1,
  .right {
    font-size: var(--font-size-32xl);
  }
  .final1 {
    font-size: var(--font-size-37xl);
  }
  .frame-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 675px) {
  .root-frame {
    gap: 145px;
  }
}
@media screen and (max-width: 450px) {
  .right {
    font-size: var(--font-size-13xl);
  }
  .next1 {
    font-size: var(--font-size-19xl);
  }
  .final1 {
    font-size: var(--font-size-23xl);
  }
  .root-frame {
    gap: 72px;
  }
}
